<div class="middle">
  <div *ngFor = "let campground of campgrounds" class="campgroundTile" (click)="fullSquare()">
    <!-- <span class="closeIt">X</span> -->
    <h3 class="name">{{campground.facilityName}}</h3>
    <div class="spaceRegulator">
      <div class="insideSpaceRegulator">
        <div [innerHtml]="campground.facilityDescription" class="contentBox"></div>
      </div>
      <div class="insideSpaceRegulator">
        <div [innerHtml]="campground.facilityDirections" class="contentBox"></div>
      </div>
      <option value="{{campground.facilityLatitude}}, {{campground.facilityLongitude}}" >

    </div>
  </div>
</div>
