#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #D3D3D3;
}

#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  padding: 10px;
}

.mapButton {
  background-color: #D1692A;
  border-radius: 30px;
  height: 60px;
  margin-top: 20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-size-adjust: auto;
  text-align: center;
  vertical-align: middle;

}

#start, #waypoints, #end {
  font-family: 'Josefin Sans', sans-serif;
}
