#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px; }

#right-panel select, #right-panel input {
  font-size: 15px; }

#right-panel select {
  width: 100%; }

#right-panel i {
  font-size: 12px; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%; }

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0; }

#directions-panel {
  margin-top: 10px;
  padding: 10px; }

@keyframes textglow {
  0% {
    text-shadow: 0px 0px 0px #334A30; }
  45% {
    text-shadow: 0px 0px 30px #F9E282; }
  100% {
    text-shadow: 0px 0px 0px #334A30; } }
.content .top {
  background-image: url("https://images.unsplash.com/photo-1470074292333-06771ecb559e?dpr=2&auto=format&fit=crop&w=1199&h=1499&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center bottom;
  min-height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .content .top > h2 {
    margin-bottom: 30px;
    font-size: 8.5em;
    font-family: 'Courgette', cursive;
    color: #353535;
    animation-name: textglow;
    animation-duration: 8s;
    animation-iteration-count: infinite; }
  .content .top > input {
    width: 250px;
    height: 10px;
    padding: 20px;
    font-size: 2em;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-color: #fff;
    margin-bottom: 310px; }
    .content .top > input::-webkit-input-placeholder {
      font-style: italic;
      color: rgba(255, 255, 255, 0.4); }
  .content .top select {
    width: 250px;
    padding: 20px;
    font-size: 2em;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-color: #fff;
    margin-bottom: 310px; }
  .content .top select > option {
    background-color: red !important; }
  .content .top textarea:focus, .content .top input:focus {
    outline: none; }
  @media (max-width: 525px) {
    .content .top {
      height: 400px;
      justify-content: flex-start; }
      .content .top h2 {
        font-size: 5em;
        border-top: 2px solid #353535;
        border-bottom: 2px solid #353535; }
      .content .top input {
        margin-bottom: 0px; } }
  .content .top .choicesBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative; }
    .content .top .choicesBox label {
      flex-basis: 20.3%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      overflow: visible;
      transition: margin 400ms ease-in-out; }
      .content .top .choicesBox label:not(:first-of-type) {
        margin-left: -250px; }
      .content .top .choicesBox label:hover {
        margin-left: 10px;
        margin-right: 250px; }
        .content .top .choicesBox label:hover div {
          box-shadow: 0px 0px 15px #fff; }
    .content .top .choicesBox div {
      flex-basis: 300px;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-content: center;
      list-style-type: none;
      background-color: rgba(255, 255, 255, 0.4);
      height: 400px;
      background-position: center center;
      background-size: cover;
      box-shadow: -5px 5px 8px #333; }
      .content .top .choicesBox div h2 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 2.5em;
        text-shadow: 0px 0px 3px white;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        width: 90%;
        align-self: center; }
    .content .top .choicesBox #glacier {
      background-image: url("https://static.pexels.com/photos/193636/pexels-photo-193636.jpeg"); }
    .content .top .choicesBox #badlands {
      background-image: url("https://images.unsplash.com/photo-1464706036991-71810a1a46b1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=07ea52fe598eb45ca93de73d42d0532a"); }
    .content .top .choicesBox #yellowstone {
      background-image: url("https://www.bentwoodinn.com/wp-content/uploads/2016/03/Yellowstone-vacation.jpg"); }
    .content .top .choicesBox #northCascades {
      background-image: url("https://static.pexels.com/photos/25630/pexels-photo-25630.jpg"); }
    .content .top .choicesBox #rainier {
      background-image: url("http://cdn1.buuteeq.com/upload/21004/shutterstock_80423284.jpg.1920x1080_default.jpg"); }
    .content .top .choicesBox #craterLake {
      background-image: url("https://images.unsplash.com/photo-1476681227192-05dedd2b6709?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=66a626a7636932214290755ab3b7d8d1"); }
    .content .top .choicesBox #olympic {
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Marmot_Pass,_Olympic_National_Park.jpg"); }
    .content .top .choicesBox #teton {
      background-image: url("https://images.unsplash.com/photo-1477425143973-7c2c58f29378?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=eeb940d98ce3942fea5248ce4fef65ce"); }
.content .middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  transition: all 250ms ease-in-out;
  max-height: 1000px;
  position: relative; }
  .content .middle p {
    font-family: 'Josefin Sans', sans-serif; }
  .content .middle h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    align-self: center; }
  .content .middle .campgroundTile {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 200px;
    overflow: hidden;
    transition: all 300ms ease-in-out; }
    .content .middle .campgroundTile:hover {
      box-shadow: inset 0px 0px 30px #cdb840; }
    .content .middle .campgroundTile .contentBox {
      display: none; }
    .content .middle .campgroundTile h2 {
      color: orange; }
    .content .middle .campgroundTile .spaceRegulator {
      flex-basis: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .content .middle .campgroundTile .spaceRegulator .insideSpaceRegulator {
        flex-basis: 48%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; }

.fillItPlease {
  top: -1px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5; }
  .fillItPlease > h3 {
    font-size: 3em; }
  .fillItPlease .insideSpaceRegulator > div {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .fillItPlease .insideSpaceRegulator > div > * {
      flex-basis: 50%; }

.biggerMiddle {
  height: 1000px; }

/*# sourceMappingURL=styles.css.map */
