<div class="content">
  <div class="top">
    <h2>GoThere</h2>
    <!-- <input placeholder="destination..."> -->
    <div class="choicesBox">
      <label for="">
        <input type="radio" name="name" value="43.7764452,-102.1701994" hidden>
        <div class="searchTypes" id="badlands">
          <h2>Badlands National Park</h2>
        </div>
      </label>

      <label for="">
        <input type="radio" name="name" value="48.609132,-113.9933643" hidden>
        <div class="searchTypes" id="glacier">
          <h2>Glacier National Park</h2>
        </div>
      </label>

      <label for="">
        <input type="radio" name="name" value="44.4897089,-110.8264368" hidden>
        <div class="searchTypes" id="yellowstone">
          <h2>Yellowstone National Park</h2>
        </div>
      </label>
    </div>
  </div>
  <div class="middle">

  </div>
</div>

<app-map-main></app-map-main>
