
<div class="content">
  <div class="top">
    <h2>GoThere</h2>
    <!-- <input placeholder="destination..."> -->
    <div  class="choicesBox">
      <label (click)="showCamps(45.677064, -122.551182)" for="">
        <input type="radio" name="name" value="43.7764452,-102.1701994" hidden>
        <div class="searchTypes" id="badlands">
          <h2>Badlands National Park</h2>
        </div>
      </label>

      <label (click)="showCamps(48.609132,-113.9933643)" for="">
        <input type="radio" name="name" value="48.609132,-113.9933643" hidden>
        <div class="searchTypes" id="glacier">
          <h2>Glacier National Park</h2>
        </div>
      </label>

      <label (click)="showCamps(44.4897089,-110.8264368)" for="">
        <input type="radio" name="name" value="44.4897089,-110.8264368" hidden>
        <div class="searchTypes" id="yellowstone">
          <h2>Yellowstone National Park</h2>
        </div>
      </label>
      <label (click)="showCamps(48.4818468,-122.5627902)" for="">
        <input type="radio" name="name" value="48.4818468,-122.5627902" hidden>
        <div class="searchTypes" id="northCascades">
          <h2>North Cascades National Park</h2>
        </div>
      </label>
      <label (click)="showCamps(46.8278107,-121.7964489)" for="">
        <input type="radio" name="name" value="46.8278107,-121.7964489" hidden>
        <div class="searchTypes" id="rainier">
          <h2>Mount Rainier National Park</h2>
        </div>
      </label>
    </div>
  </div>
  <div class="middleOnHome">
    <app-campground [campgrounds]="campgrounds" (showCampsSender)="handleShowCampSender($event)"></app-campground>
  </div>
</div>


<app-map-main></app-map-main>
